@import "media-queries";

/* Variables */
$primary-color : #363066;
$secondary-color: #f2f2f2;
$info-color: #14d3ae;
$dark-color: #434d59;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0;
}

body {
   font-family: 'Lato', sans-serif !important;
}

/* Header */
#header {
   height: 130vh;
   overflow: hidden;
   position: relative;

   @include tablet {
      height: 100vh;
   }


   .navbar-brand {
      font-size: 1.5rem;
   }

   .navbar-nav {
      a {
         font-size: .9rem;
      }

      .navbar-toggler:focus,
      .navbar-toggler:active,
      .fa-bars:focus {
         outline: none;
         box-shadow: none;
      }

      .login-btn {
         border: 1px solid $secondary-color;
         border-radius: 3px;
         margin:0 .5rem;
         padding: .35rem .75rem;

         &:hover {
            background: #fff;
            color: $primary-color !important;
            transition: all .3s;
         }
      }
   }

   #hero {
      .row {
         margin-top: 120px;
      }

      a {
         padding:.75rem 1.5rem;
         border-radius: 3px;
         font-size: .9rem;
         width:11rem;
      }

      .btn-first {
         border: 1px solid $info-color;
      }

      .btn-second {
         border: 1px solid #fff;
      }
   }

   .header-img {
      position: absolute;
      bottom: -35px;
   }
}
/* End of Header */
/* Business */
#business {
   h1 {
      font-weight: bold;
   }

   p {
      font-size: 1rem;
   }

   .business-text {
      @include screen {
         text-align: center;
      }
   }
}

/* End of Business */
/* Quote */
#quote {
   padding: 5.5rem 1rem;

   .quote-text {
      font-size: 1.1rem;
   }

   .quote-author {
      color: rgba(0,0,0,.4);
   }
}

/* End of Quote */
/* Pricing */
#pricing {
   h1 {
      font-weight: bold;
   }

   p {
      font-size: 1rem;
   }

   .business-text {
      @include screen {
         text-align: center;
      }
   }
}

/* End of Pricing */